.game
  height: calc(100vh - 90px)
  display: flex
  justify-content: center
  align-items: center

  .section-wrapper
    width: 1400px
    height: 700px
    background-color: $white
    border-radius: 50px
    display: flex
    justify-content: space-around
    align-items: center
  
  &_board
    width: 600px
    height: 600px
    background-color: $section-gray
    border-radius: 30px