.game_panel
  height: 100px
  margin: 100px auto 0

  .section-wrapper
    width: 1400px
    height: 100px
    background-color: $white
    border-radius: 50px
    text-align: center
    line-height: 100px
  
  .game_status
    color: $dark-text
    user-select: none
    cursor: pointer
    transition: 0.1s linear

    &:hover
      color: $main-blue