.game-panel
  margin: 100px auto 0
  
  .section-wrapper
    background-color: $white
    text-align: center
    display: flex
    flex-direction: column
  
  &__main-buttons
    position: relative
  
  &__status
    width: 400px
    margin: 20px auto
    padding: 15px
    color: $white
    background-color: $blue
    +f-mont-bold
    border-radius: 35px
    user-select: none
    cursor: pointer
    transition: 0.1s ease-in-out
    transition-property: background-color
    
    &:hover
      background-color: $blue_darker
  
  &__status_inactive
    width: 400px
    margin: 20px auto
    padding: 15px
    color: $lightgray
    background-color: $section-gray
    border-radius: 35px
    user-select: none
  
  &__restart-button
    width: 50px
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 27px
    border-radius: 50%
    background-color: $blue
    transition: 0.1s ease-in-out background-color
    font-size: 200%
    color: $white
    
    i
      transition: 0.5s ease-in-out all
    
    &:hover
      background-color: $blue_darker
    
    &:active
      i
        transition: 10ms ease-in-out all
        transform: rotateZ(720deg)
  
  &__ship-select-buttons
    width: 900px
    margin: 0 auto 20px
    display: flex
    justify-content: space-between
    align-items: center
  
  &__ship-select-button
    width: 200px
    padding: 5px
    font-size: 18px
    color: $white
    background-color: $blue
    border-radius: 15px
    user-select: none
    cursor: pointer
    transition: 0.1s ease-in-out
    transition-property: background-color
    
    &:hover
      background-color: $blue_darker
  
  &__ship-select-button_active
    width: 200px
    padding: 5px
    font-size: 18px
    color: $white
    background-color: $blue_active
    border-radius: 15px
    user-select: none
    transition: 0.1s ease-in-out
    transition-property: background-color
  
  &__ship-select-button_inactive
    width: 200px
    padding: 5px
    font-size: 18px
    color: $lightgray
    background-color: $section-gray
    border-radius: 15px
    user-select: none
    transition: 0.1s ease-in-out
    transition-property: background-color
  
  &__ship-direction-select-buttons
    width: 600px
    margin: 0 auto 20px
    display: flex
    justify-content: space-between
    align-items: center
  
  &__ship-direction
    width: 250px
    padding: 10px
    font-size: 20px
    color: $white
    background-color: $blue
    border-radius: 30px
    user-select: none
    cursor: pointer
    transition: 0.1s ease-in-out
    transition-property: background-color
    
    &:hover
      background-color: $blue_darker
  
  &__ship-direction_active
    width: 250px
    padding: 10px
    font-size: 20px
    color: $lightgray
    background-color: $section-gray
    border-radius: 30px
    user-select: none
