.game
  margin: 50px auto 100px
  display: flex
  justify-content: center
  align-items: center

  .section-wrapper
    width: 1400px
    height: 700px
    background-color: $white
    border-radius: 50px
    display: flex
    justify-content: space-around
    align-items: center

  &_board
    width: 600px
    height: 600px
    border-radius: 30px
    display: flex
    flex-wrap: wrap
    text-align: center
  
  .board_row
    display: flex
  
  .board_cell
    width: calc(600px / 11)
    height: calc(600px / 11)
    line-height: calc(600px / 11)
    font-size: 25px
    +f_mont_bold
    color: $dark-text
    background-color: $white
    border: $light-text 2px solid
    cursor: pointer
    transition: 0.1s linear
    &:hover
      border-color: $main-blue

  
  .board_markup_cell
    border-color: $white
    cursor: default
    user-select: none
    &:hover
      border-color: $white

  .game_board-inactive::after
    position: absolute
    content: ''
    width: 600px
    height: 600px
    background-color: $white
    opacity: 0.5