.header
  background: $main-blue
  color: $white

  .section-wrapper
    padding: 15px 0
    display: flex
    justify-content: center
    align-items: center
  
  &_title
    position: absolute
    left: 50px
    font-size: 35px
    +f-mont-bold
    user-select: none
  
  .contact
    margin: 0 auto

    &-wrapper
      display: flex

    &_link
      margin: 0 10px
      padding: 5px
      width: 60px
      height: 60px

      font-size: 32px
      color: $main-blue

      background-color: $white
      border: $main-blue 5px solid
      border-radius: 50%

      display: flex
      justify-content: center
      align-items: center
      transition: 0.2s ease-in-out
      &:hover
        border: $white 5px solid

// @media (max-width: 1200px)
//   .header

// @media (max-width: 992px)
//   .header
//     .section-wrapper
//       padding-top: 20px
//       padding-bottom: 20px

// @media (max-width: 768px)
//   .header
//     .section-wrapper
//       padding-top: 30px

// @media (max-width: 576px)
//   .header