.remaining_ships
  margin: 30px auto 0
  display: none

  .section-wrapper
    background-color: $white
    display: flex
    justify-content: space-around
    align-items: center
    padding: 10px 0
    user-select: none

  &_player
    color: $dark_text
    width: calc(600px / 11 * 10)
    display: flex
    justify-content: center
    align-items: center
    margin-left: calc(600px / 11)

  .remaining_ship
    width: 150px
    height: 70px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

    &_icon
      display: flex
      font-size: 15px
      & > *
        padding: 5px

    &_count
      +f-mont-bold
      font-size: 20px
      text-align: center
      transition: color 0.3s ease-in-out
