<section class="header">
  <div class="section-wrapper">
      <div class="header_title">Battleship</div>
      <div class="contact">
          <div class="contact-wrapper">
              <a class="contact_link" href="https://github.com/STPDRichie">
                  <i class="fa-brands fa-github"></i>
              </a>
              <a class="contact_link" href="https://www.instagram.com/stpdrichie">
                  <i class="fa-brands fa-instagram"></i>
              </a>
              <a class="contact_link" href="https://vk.com/stpdrichie">
                  <i class="fa-brands fa-vk"></i>
              </a>
          </div>
      </div>
  </div>
</section>