<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

	<script src="https://kit.fontawesome.com/1f2dd28b21.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@500;700&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="header">
        <div class="section-wrapper">
            <div class="header_title">Battleship</div>
            <div class="contact">
                <div class="contact-wrapper">
                    <a class="contact_link" href="https://github.com/STPDRichie">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="contact_link" href="https://www.instagram.com/stpdrichie">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="contact_link" href="https://vk.com/stpdrichie">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="game">
        <div class="section-wrapper">
            <div id="player-board" class="game_board">
                <div class="board_row board_row-0">
                    <div class="board_cell board_markup_cell board_cell-0"></div>
                    <div class="board_cell board_markup_cell board_cell-1">A</div>
                    <div class="board_cell board_markup_cell board_cell-2">B</div>
                    <div class="board_cell board_markup_cell board_cell-3">C</div>
                    <div class="board_cell board_markup_cell board_cell-4">D</div>
                    <div class="board_cell board_markup_cell board_cell-5">E</div>
                    <div class="board_cell board_markup_cell board_cell-6">F</div>
                    <div class="board_cell board_markup_cell board_cell-7">G</div>
                    <div class="board_cell board_markup_cell board_cell-8">H</div>
                    <div class="board_cell board_markup_cell board_cell-9">I</div>
                    <div class="board_cell board_markup_cell board_cell-10">J</div>
                </div>
                <div class="board_row board_row-1">
                    <div class="board_cell board_markup_cell board_cell-0">1</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid fa-circle"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid fa-circle"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid fa-circle-xmark"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-2">
                    <div class="board_cell board_markup_cell board_cell-0">2</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-3">
                    <div class="board_cell board_markup_cell board_cell-0">3</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-4">
                    <div class="board_cell board_markup_cell board_cell-0">4</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-5">
                    <div class="board_cell board_markup_cell board_cell-0">5</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-6">
                    <div class="board_cell board_markup_cell board_cell-0">6</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-7">
                    <div class="board_cell board_markup_cell board_cell-0">7</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-8">
                    <div class="board_cell board_markup_cell board_cell-0">8</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-9">
                    <div class="board_cell board_markup_cell board_cell-0">9</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
                <div class="board_row board_row-10">
                    <div class="board_cell board_markup_cell board_cell-0">10</div>
                    <div class="board_cell board_cell-1"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-2"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-3"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-4"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-5"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-6"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-7"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-8"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-9"><i class="fa-solid"></i></div>
                    <div class="board_cell board_cell-10"><i class="fa-solid"></i></div>
                </div>
            </div>
            <div class="game_board"></div>
        </div>
    </section>
    
    <script src="../static/js/script.js"></script>
</body>
</html>