<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <script src="{{ url_for('static', filename='js/fontAwesome.js') }}"></script>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@500;700&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="section-wrapper">
            <div class="header__title">Battleship</div>
            <div class="header__contact">
                <div class="header__contact-wrapper">
                    <a class="header__link" href="https://github.com/STPDRichie">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="header__link" href="https://www.instagram.com/stpdrichie">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="header__link" href="https://vk.com/stpdrichie">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="game-session">
        <div class="section-wrapper">
            <div id="play-with-robot-block" class="block-wrapper">
                <div id="play-with-robot-button" class="game-session__robot-button game-session__button">Play with robot</div>
            </div>
            <div id="game-select-block" class="block-wrapper">
                <div id="username" class="game-session__block-title">Input username</div>
                <label><input class="game-session__input"></label>
                <div id="host-button" class="game-session__button">Host game</div>
                <div id="join-button" class="game-session__button">Join the game</div>
            </div>
            <div id="host-block" class="block-wrapper">
                <div class="game-session__block-title">Your session</div>
                <div id="user-session-key" class="game-session__user-key">1651654903210</div>
                <div class="game-session__opponent"></div>
                <div id="start-button" class="game-session__start-button game-session__button">Start</div>
            </div>
            <div id="join-block" class="block-wrapper">
                <label><input id="session-key-input" type="number" class="game-session__input" placeholder="Input session key"></label>
                <div id="connect-button" class="game-session__connect-button game-session__button">Connect</div>
            </div>
            <div id="lobby-block" class="block-wrapper">
                <div class="game-session__block-title">Session</div>
                <div class="game-session__opponent"></div>
                <div class="game-session__button_inactive">Waiting for host</div>
            </div>
        </div>
    </section>

    <section style="display: none;" class="game-panel">
        <div class="section-wrapper">
            <div class="game-panel__main-buttons">
                <h1 id="game-status" class="game-panel__status">Start game</h1>
                <div id="game-restart-button" style="display: none;" class="game-panel__restart-button"><i class="fa-solid fa-rotate-left"></i></div>
            </div>
            <div id="ship-placing-buttons" style="display: none;" class="game-panel__ship-placing-buttons">
                <div id="ship-direction-select-buttons" class="game-panel__ship-direction-select-buttons">
                    <div id="ship-direction-vertical" class="game-panel__ship-direction_active">Vertical</div>
                    <div id="ship-direction-horizontal" class="game-panel__ship-direction">Horizontal</div>
                </div>
                <div id="ship-select-buttons" class="game-panel__ship-select-buttons">
                    <div id="battleship-select-button" class="game-panel__ship-select-button_active">Battleship - 1</div>
                    <div id="cruiser-select-button" class="game-panel__ship-select-button">Cruiser - 2</div>
                    <div id="submarine-select-button" class="game-panel__ship-select-button">Submarine - 3</div>
                    <div id="destroyer-select-button" class="game-panel__ship-select-button">Destroyer - 4</div>
                </div>
            </div>
        </div>
    </section>

    <section id="remaining-ships-panel" style="display: none;" class="remaining-ships">
        <div class="section-wrapper">
            <div class="remaining-ships__player">
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="person-remaining-ship-count__battleship" class="remaining-ship__count">1</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="person-remaining-ship-count__cruiser" class="remaining-ship__count">2</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="person-remaining-ship-count__submarine" class="remaining-ship__count">3</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="person-remaining-ship-count__destroyer" class="remaining-ship__count">4</div>
                </div>
            </div>
            <div class="remaining-ships__player">
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="opponent-remaining-ship-count__battleship" class="remaining-ship__count">1</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="opponent-remaining-ship-count__cruiser" class="remaining-ship__count">2</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="opponent-remaining-ship-count__submarine" class="remaining-ship__count">3</div>
                </div>
                <div class="remaining-ship">
                    <div class="remaining-ship__icon">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div id="opponent-remaining-ship-count__destroyer" class="remaining-ship__count">4</div>
                </div>
            </div>
        </div>
    </section>

    <section style="display: none;" class="game">
        <div class="section-wrapper">
            <div id="person-board" class="game__board">
                <div class="game__row">
                    <div class="game__cell game__markup-cell"></div>
                    <div class="game__cell game__markup-cell">A</div>
                    <div class="game__cell game__markup-cell">B</div>
                    <div class="game__cell game__markup-cell">C</div>
                    <div class="game__cell game__markup-cell">D</div>
                    <div class="game__cell game__markup-cell">E</div>
                    <div class="game__cell game__markup-cell">F</div>
                    <div class="game__cell game__markup-cell">G</div>
                    <div class="game__cell game__markup-cell">H</div>
                    <div class="game__cell game__markup-cell">I</div>
                    <div class="game__cell game__markup-cell">J</div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">1</div>
                    <div id="person-board__cell_a-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-1" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">2</div>
                    <div id="person-board__cell_a-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-2" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">3</div>
                    <div id="person-board__cell_a-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-3" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">4</div>
                    <div id="person-board__cell_a-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-4" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">5</div>
                    <div id="person-board__cell_a-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-5" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">6</div>
                    <div id="person-board__cell_a-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-6" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">7</div>
                    <div id="person-board__cell_a-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-7" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">8</div>
                    <div id="person-board__cell_a-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-8" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">9</div>
                    <div id="person-board__cell_a-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-9" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">10</div>
                    <div id="person-board__cell_a-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_b-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_c-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_d-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_e-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_f-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_g-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_h-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_i-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="person-board__cell_j-10" class="game__cell"><i class="fa-solid"></i></div>
                </div>
            </div>
            <div id="opponent-board" class="game__board">
                <div class="game__row">
                    <div class="game__cell game__markup-cell"></div>
                    <div class="game__cell game__markup-cell">A</div>
                    <div class="game__cell game__markup-cell">B</div>
                    <div class="game__cell game__markup-cell">C</div>
                    <div class="game__cell game__markup-cell">D</div>
                    <div class="game__cell game__markup-cell">E</div>
                    <div class="game__cell game__markup-cell">F</div>
                    <div class="game__cell game__markup-cell">G</div>
                    <div class="game__cell game__markup-cell">H</div>
                    <div class="game__cell game__markup-cell">I</div>
                    <div class="game__cell game__markup-cell">J</div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">1</div>
                    <div id="opponent-board__cell_a-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-1" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-1" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">2</div>
                    <div id="opponent-board__cell_a-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-2" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-2" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">3</div>
                    <div id="opponent-board__cell_a-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-3" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-3" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">4</div>
                    <div id="opponent-board__cell_a-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-4" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-4" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">5</div>
                    <div id="opponent-board__cell_a-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-5" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-5" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">6</div>
                    <div id="opponent-board__cell_a-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-6" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-6" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">7</div>
                    <div id="opponent-board__cell_a-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-7" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-7" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">8</div>
                    <div id="opponent-board__cell_a-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-8" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-8" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">9</div>
                    <div id="opponent-board__cell_a-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-9" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-9" class="game__cell"><i class="fa-solid"></i></div>
                </div>
                <div class="game__row">
                    <div class="game__cell game__markup-cell">10</div>
                    <div id="opponent-board__cell_a-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_b-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_c-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_d-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_e-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_f-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_g-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_h-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_i-10" class="game__cell"><i class="fa-solid"></i></div>
                    <div id="opponent-board__cell_j-10" class="game__cell"><i class="fa-solid"></i></div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
