* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: url(../img/body-background.jpg) 0 -10px;
  background-size: 300px;
}

.section-wrapper {
  width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  border-radius: 50px;
}

.header {
  background: #4c97fc;
  color: #ffffff;
}
.header .section-wrapper {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  position: absolute;
  left: 50px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  user-select: none;
}
.header__contact {
  margin: 0 auto;
}
.header__contact-wrapper {
  display: flex;
}
.header__link {
  margin: 0 10px;
  padding: 5px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #4c97fc;
  background-color: #ffffff;
  border: #4c97fc 5px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.header__link:hover {
  border: #ffffff 5px solid;
}

.game-panel {
  margin: 100px auto 0;
}
.game-panel .section-wrapper {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.game-panel__ship-placing-buttons {
  display: none;
}
.game-panel__status {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 35px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game-panel__status:hover {
  background-color: #3e89ec;
}
.game-panel__status_inactive {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 35px;
  user-select: none;
}
.game-panel__ship-select-buttons {
  width: 900px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-panel__ship-select-button {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game-panel__ship-select-button:hover {
  background-color: #3e89ec;
}
.game-panel__ship-select-button_active {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #2172d9;
  border-radius: 15px;
  user-select: none;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game-panel__ship-select-button_inactive {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 15px;
  user-select: none;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game-panel__ship-direction-select-buttons {
  width: 600px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-panel__ship-direction {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 30px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game-panel__ship-direction:hover {
  background-color: #3e89ec;
}
.game-panel__ship-direction_active {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 30px;
  user-select: none;
}

.remaining-ships {
  margin: 30px auto 0;
  display: none;
}
.remaining-ships .section-wrapper {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  user-select: none;
}
.remaining-ships__player {
  color: #333333;
  width: 545.4545454545px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 54.5454545455px;
}
.remaining-ships .remaining-ship {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.remaining-ships .remaining-ship__icon {
  display: flex;
  font-size: 15px;
}
.remaining-ships .remaining-ship__icon > * {
  padding: 5px;
}
.remaining-ships .remaining-ship__count {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.game {
  margin: 30px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .section-wrapper {
  background-color: #ffffff;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game__board {
  width: 600px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.game__board_inactive::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  opacity: 0.5;
}
.game__row {
  display: flex;
}
.game__cell {
  width: 54.5454545455px;
  height: 54.5454545455px;
  line-height: 54.5454545455px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #333333;
  background-color: #ffffff;
  border: #999999 2px solid;
  cursor: pointer;
  transition: 0.1s linear;
}
#opponent-board .game__cell:not(.game__markup-cell):hover {
  border-color: #4c97fc;
}
.game__markup-cell {
  border-color: #ffffff;
  cursor: default;
  user-select: none;
}
.game__markup-cell:hover {
  border-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
