* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #eeeeee;
}

::selection {
  background: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: url(/static/img/body-background.jpg);
}

.section-wrapper {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: cornflowerblue;
  color: #ffffff;
}

.header .section-wrapper {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_title {
  position: absolute;
  left: 50px;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .contact {
  margin: 0 auto;
}

.header .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .contact_link {
  margin: 0 10px;
  padding: 5px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: cornflowerblue;
  background-color: #ffffff;
  border: cornflowerblue 5px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .contact_link:hover {
  border: #ffffff 5px solid;
}

.game {
  height: calc(100vh - 90px);
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game .section-wrapper {
  width: 1400px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_board {
  width: 600px;
  height: 600px;
  background-color: #eeeeee;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.game .board_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .board_cell {
  width: calc(600px / 11);
  height: calc(600px / 11);
  line-height: calc(600px / 11);
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #333333;
  background-color: #ffffff;
  border: #999999 2px solid;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.game .board_cell:hover {
  border-color: cornflowerblue;
}

.game .board_markup_cell {
  border-color: #ffffff;
  cursor: default;
}

.game .board_markup_cell:hover {
  border-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */