* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: url(../img/body-background.jpg) 0 -10px;
  background-size: 300px;
}

.section-wrapper {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: #4c97fc;
  color: #ffffff;
}
.header .section-wrapper {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_title {
  position: absolute;
  left: 50px;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  user-select: none;
}
.header .contact {
  margin: 0 auto;
}
.header .contact-wrapper {
  display: flex;
}
.header .contact_link {
  margin: 0 10px;
  padding: 5px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #4c97fc;
  background-color: #ffffff;
  border: #4c97fc 5px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.header .contact_link:hover {
  border: #ffffff 5px solid;
}

.game_panel {
  margin: 100px auto 0;
}
.game_panel .section-wrapper {
  width: 1400px;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.game_panel .game_status {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 35px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game_panel .game_status:hover {
  background-color: #3e89ec;
}
.game_panel .game_status-inactive {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 35px;
  user-select: none;
}
.game_panel .game_ship_select_buttons {
  width: 900px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game_panel .game_ship_select_button {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game_panel .game_ship_select_button:hover {
  background-color: #3e89ec;
}
.game_panel .game_ship_select_button-active {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #2172d9;
  border-radius: 15px;
  user-select: none;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game_panel .game_ship_select_button-placed {
  width: 200px;
  padding: 5px;
  font-size: 18px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 15px;
  user-select: none;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game_panel .game_ship_direction_select_buttons {
  width: 600px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game_panel .game_ship_direction {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #4c97fc;
  border-radius: 30px;
  user-select: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transition-property: background-color;
}
.game_panel .game_ship_direction:hover {
  background-color: #3e89ec;
}
.game_panel .game_ship_direction-active {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  color: #999999;
  background-color: #eeeeee;
  border-radius: 30px;
  user-select: none;
}

.game {
  margin: 50px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .section-wrapper {
  width: 1400px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game_board {
  width: 600px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.game .board_row {
  display: flex;
}
.game .board_cell {
  width: 54.5454545455px;
  height: 54.5454545455px;
  line-height: 54.5454545455px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #333333;
  background-color: #ffffff;
  border: #999999 2px solid;
  cursor: pointer;
  transition: 0.1s linear;
}
.game #opponent-board .board_cell:not(.board_markup_cell):hover {
  border-color: #4c97fc;
}
.game .board_markup_cell {
  border-color: #ffffff;
  cursor: default;
  user-select: none;
}
.game .board_markup_cell:hover {
  border-color: #ffffff;
}
.game .game_board-inactive::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
